@import 'src/App/variables.scss';

h2 {
	font-size: 20px;
	color: $font-color-gray;
	margin-bottom: 20px;
}

.list {
	display: grid;
	grid-template-columns: repeat(3, auto);
	column-gap: 30px;
	row-gap: 15px;
	justify-content: start;


	@media (max-width:1145px) {
		column-gap: 15px;
	}

	@media (max-width:1142px) {
		grid-template-columns: repeat(2, auto);
		justify-content: space-evenly;
	}

	@media (max-width:756px) {
		grid-template-columns: repeat(1, auto);
		justify-content: space-evenly;
	}


}