@import 'src/App/variables.scss';



.header {

	background-color: $bgc;
	position: sticky;
	top: 0;

	.header__content {
		display: flex;
		height: 60px;
		align-items: center;
		justify-content: space-between;
		background-color: $bgc;
		position: sticky;
		top: 0;
		z-index: 20;

		.logo {
			font-size: 25px;
			font-weight: 700;
		}

		.links {
			display: flex;
			align-items: center;



			.favorites {
				position: relative;
			}

			.favoritesCounter {
				position: absolute;
				left: 15px;
				bottom: 15px;
				z-index: 10;
			}



			.basketCounter {
				position: absolute;
				left: 15px;
				bottom: 17px;
				z-index: 10;
			}

			.basket {
				margin-left: 37px;
				position: relative;
			}
		}
	}
}