.header {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: space-between;

	.logo {
		font-size: 25px;
		font-weight: 700;
	}






	.links {
		display: flex;
		align-items: center;



		.favorites {
			position: relative;
		}

		.favoritesCounter {
			position: absolute;
			left: 15px;
			bottom: 15px;
			z-index: 10;
		}



		.basketCounter {
			position: absolute;
			left: 15px;
			bottom: 17px;
			z-index: 10;
		}

		.basket {
			margin-left: 37px;
			position: relative;
		}
	}
}